---
import { API_URL } from '../../constants';
import type { User } from '../../pages/api/generated';
import type { ApiResponse } from '../../pages/api/api-response';

const response = await fetch(`${API_URL}/user/describe`);
const {
	data: { name, direction, email },
}: ApiResponse<User> = await response.json();
---

<footer>
	<div class="user-info">
		<p>{name}</p>
		<p class="email">{email}</p>
		<p>{direction}</p>
	</div>
	<div class="brand">
		<p>ATRA arquitectura</p>
		<p>© 2024 ALL RIGHTS RESERVED</p>
	</div>
</footer>

<style scoped>
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		padding: 1rem 3rem;
		margin-top: 5rem;

		background-color: var(--contrast-color);
		color: var(--background-color);
	}

	.user-info {
		display: flex;
		flex-direction: column;
	}

	.brand {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	p {
		font-size: var(--font-small);
		text-transform: uppercase;
	}

	@media screen and (max-width: 650px) {
		p {
			font-size: 0.8rem;
		}
	}

	@media screen and (max-width: 550px) {
		footer {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			margin-top: 7rem;
		}

		.user-info,
		.brand {
			align-items: center;
		}

		.user-info {
			border-bottom: 1px solid rgb(213, 213, 213);
			padding-bottom: 1rem;
		}
	}
</style>
