---
import { API_URL } from '../../constants';
import type { ApiResponse } from '../../pages/api/api-response';
import type { User } from '../../pages/api/generated';
import Link from './Link.astro';
import TextWithIcon from './TextWithIcon.astro';

const response = await fetch(`${API_URL}/user/describe`);
const data: ApiResponse<User> = await response.json();
---

<section class="home-description">
	<div class="title fade-up-light">
		<h3>Asistència tècnica en rehabilitació i arquitectura</h3>
	</div>
	<span class="line grow-right"></span>
	<div
		class="description fade-up-light"
		data-testid="description"
	>
		{
			data.data.description
				.split('. ')
				.slice(0, 1)
				.map(text => <p>{text}.</p>)
		}
	</div>
	<Link
		href="/about"
		dark
		id="about-link"
	>
		<TextWithIcon
			text="Saber-ne més"
			dark
			animation
		/>
	</Link>
</section>

<style scoped>
	.home-description {
		display: grid;
		place-content: center;
		width: 100%;
		margin-top: -2rem;
		color: var(--background-color);
		background-color: var(--contrast-color);
		height: 60lvh;
	}

	.line {
		background-color: var(--background-color);
		height: 1px;
		opacity: 0;
		width: 10vw;
		animation: grow-right 0.2s ease-in-out forwards;
	}

	.title {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 80vw;
		max-width: var(--max-width);
		opacity: 0;
		transform: translateY(-20%);
		animation: fade-up-light 0.2s ease-in-out forwards;
	}

	h1 {
		font-size: 5rem;
		font-weight: 300;
		line-height: 0;
	}

	h3 {
		font-weight: bold;
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
		font-weight: 200;
		max-width: 65ch;
	}

	.description {
		width: 80vw;
		max-width: calc(var(--max-width) - 20%);
		text-wrap: pretty;
		font-size: 1rem;
		line-height: auto;
		margin-top: 2rem;
		opacity: 0;
		transform: translateY(20%);
		animation: fade-up-light 0.2s ease-in-out forwards;
	}

	.grow-right {
		view-timeline-name: --grow-right;
		view-timeline-axis: block;

		animation-timeline: --grow-right;
		animation-name: grow-right;
		animation-range: entry 18% cover 50%;
		animation-fill-mode: both;
	}

	.fade-up-light {
		view-timeline-name: --fade-up-light;
		view-timeline-axis: block;

		animation-timeline: --fade-up-light;
		animation-name: fade-up-light;
		animation-range: entry 18% cover 50%;
		animation-fill-mode: both;
	}

	@keyframes grow-right {
		to {
			opacity: 1;
			width: 80vw;
		}
	}

	@keyframes fade-up-light {
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@media screen and (max-width: 400px) {
		h3 {
			font-size: 26px;
		}

		p {
			font-size: 16px;
		}

		.home-description {
			margin: 1rem auto;
			padding: 2rem auto;
			height: 400px;
		}
	}

	@media screen and (min-width: 1500px) {
		.home-description {
			height: 45lvh;
		}
	}
</style>
