---
interface Props {
	href: string;
	target?: string;
	dark?: boolean;
}

const { href, target, dark }: Props = Astro.props;
---

<a
	href={href}
	target={target}
	class:list={[{ dark }]}
>
	<slot />
</a>

<style scoped>
	a {
		cursor: pointer;
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 4px;
		position: relative;

		color: var(--contrast-color);
	}

	.dark {
		color: var(--background-color);
	}
</style>
