---
interface Props {
	href: string;
	target?: string;
	dark?: boolean;
	kind?: 'button';
}

const { href, target, dark, kind }: Props = Astro.props;
---

<a
	href={href}
	target={target}
	class:list={[{ dark, button: kind === 'button' }]}
>
	<slot />
</a>

<style scoped>
	a {
		cursor: pointer;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 4px;
		position: relative;
	}

	.dark {
		color: var(--background-color);
	}

	.button {
		background-color: var(--contrast-color-hover);
		color: var(--background-color);
		padding: 0.9rem 2.5rem;
		width: fit-content;
		transition: all 0.3s ease;
		font-size: var(--font-small);
		font-weight: 300;
	}

	.button:hover {
		background-color: var(--contrast-color);
	}

	@media (width < 400px) {
		.button {
			margin-top: 1rem;
			width: 90vw;
			display: grid;
			place-items: center;
		}
	}
</style>
