---
import type { File } from '../api/index';
import { IMAGE_URL } from '../constants';

interface Props {
    images: File[];
}

const { images } = Astro.props;
---

<ul>
    {
        images.map((image, i) => (
            <li
                id={`item-${i}`}
                class={`show item-${i}`}
            >
                <picture>
                    <img
                        src={`${IMAGE_URL}/${image.Key}`}
                        alt={image.name || image.Key}
                    />
                </picture>
            </li>
        ))
    }
</ul>

<style>
    ul {
        position: relative;
        margin-top: 3rem;
        width: 80vw;
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        gap: 1rem;
        grid-template-areas:
            'a b c'
            'a d c'
            'e d f'
            'e g f'
            'h h h';
    }

    li {
        overflow: hidden;
    }

    img {
        transition: transform 0.5s ease;
    }

    li:hover img {
        transform: scale(1.1);
    }

    .large {
        position: absolute;
        width: 80vw;
    }

    .item-0 {
        grid-area: a;
    }

    .item-1 {
        grid-area: b;
    }

    .item-2 {
        grid-area: c;
    }

    .item-3 {
        grid-area: d;
    }

    .item-4 {
        grid-area: e;
    }

    .item-5 {
        grid-area: f;
    }

    .item-6 {
        grid-area: g;
    }

    .item-7 {
        grid-area: h;
    }

    @media (width < 800px) {
        ul {
            grid-template-areas:
                'a b'
                'c d'
                'e f'
                'g g'
                'h h';
        }
    }

    @media (width < 600px) {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
