---
import Nav from '../components/dashboard/NavDashboard.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="ATRA arquitectura - Estudi de arquitectura de Jaume Perez Llopis"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<main>
			<slot />
		</main>
	</body>
</html>

<script is:inline>
	const DARK = 'dark';
	const LIGHT = 'light';
	const THEME = 'theme';

	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem(THEME)) {
			return localStorage.getItem(THEME);
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return DARK;
		}
		return LIGHT;
	})();

	if (theme === LIGHT) {
		document.documentElement.classList.remove(DARK);
		document.documentElement.classList.add(LIGHT);
	} else {
		document.documentElement.classList.remove(LIGHT);
		document.documentElement.classList.add(DARK);
	}

	window.localStorage.setItem(THEME, theme);
</script>

<style is:global>
	@font-face {
		font-family: 'Arimo';
		src: url('/fonts/Arimo.ttf') format('ttf');
		font-display: swap;
	}

	:root {
		--contrast: #2984fe;
		--contrast-dark: #0052bd;

		--border-radius: 0.3rem;

		--font-small: 14px;
		--font-medium: 16px;
		--font-big: 20px;

		--cooltipz-border-radius: 0.3rem !important;

		--box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

		--backdrop: rgba(0, 0, 0, 0.264);
		--backdrop-dark: rgba(0, 0, 0, 0.546);

		--danger-color: rgba(255, 0, 0, 0.696);
		--danger-text: rgb(255, 52, 52);
	}

	html {
		font-family: 'Arimo', system-ui, sans-serif;
		background: var(--primary-light);
		font-weight: 200;
	}

	html.dark {
		--primary: #1D2125;
		--primary-hover: #A1BDD914;
		--primary-light: #333C44;
		--primary-light-hover: #899fb714;

		--bg-dropdown: #333C44;
		--border-dropdown: #A1BDD914;
	
		--text-color: #9FADBC;
		--text-color-disabled: #eeeeee64;

		--contrast-light: #1C2B41;

		--loading-dark: #36363690;
		--loading-light: rgba(96, 96, 96, 0.385);

		--password-state-default: rgba(201, 201, 201, 0.1);

		--toast-bg: #FFFFFF;

	}

	html.light {
		--primary: #FFFFFF;
		--primary-hover: #F7F8F9;
		--primary-light: #DDDFE5;
		--primary-light-hover: #eef0f2;

		--bg-dropdown: #FFFFFF;
		--border-dropdown: #DDDFE5;

		--text-color: #44546F;
		--text-color-disabled: #9b9b9b;
		
		--contrast-light: #E9F2FF;

		--loading-dark: rgba(203, 203, 203, 0.2);
		--loading-light: rgba(249, 249, 249, 0.3);
		
		--password-state-default: rgba(201, 201, 201, 0.3);

		--toast-bg: #FFFFFF;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		margin: 0 auto;
		height: 100vh;
		scroll-behavior: hidden;

		display: flex;
		gap: 0.5rem;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		height: 100vh;
		width: 100%;
	}

	ol,
	ul {
		list-style: none;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	textarea {
		font-family: 'Arimo', system-ui, sans-serif;
	}

	p {
		font-weight: 300;
		margin: 0;
		font-size: var(--font-small);
	}

	.spinner {
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes fadeup {
		from {
			opacity: 0;
			transform: translateY(10%);
		}
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@keyframes fadedown {
		from {
			opacity: 1;
			transform: translateY(0%);
		}
		to {
			opacity: 0;
			transform: translateY(10%);
		}
	}

	@keyframes fadeup-down {
		0% {
			opacity: 0;
			visibility: visible;
			transform: translateY(10%);
		}

		20% {
			opacity: 1;
			visibility: visible;
			transform: translateY(0%);
		}

		80% {
			opacity: 1;
			visibility: visible;
			transform: translateY(0%);
		}

		100% {
			opacity: 0;
			visibility: visible;
			transform: translateY(10%);
		}
	}

	@keyframes skeleton-loading {
	0% {
		background-position: -300px 0;
	}
	100% {
		background-position: 300px 0;
	}
}
</style>
