---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gallery">
    <section class="mb-[5rem] flex w-[90vw] flex-col items-center">
        <h1 class="mt-[5rem] self-start text-[50px]">Projectes</h1>
    </section>
</Layout>
