---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main id="main">
		<input id="input" type="file" placeholder="file"/>
	</main>
</Layout>

<script>

	const input = document.getElementById('input')
	const main = document.getElementById('main')

	input?.addEventListener('change', async (e) => {
        // Remove e.preventDefault()
		console.log('ready')
        const formData = new FormData();

        // Loop through files and append each one
        for (let i = 0; i < e.target.files.length; i++) {
            formData.append('image', e.target.files[i]);
        }

        const response = await fetch('http://localhost:8787/project/upload', {
            method: 'POST',
            body: formData
        });

        const jsonResponse = await response.json();

		console.log(jsonResponse, 'hello')

        const image = document.createElement('img');
        image.src = `data:image/jpg;base64,${jsonResponse.image}`;

        main?.appendChild(image);
    });
</script>


