---
import { IconRotateClockwise } from '@tabler/icons-vue';
---

<button
	id="login-btn"
	type="submit">
	<IconRotateClockwise
		id="login-icon"
		width="20"
		class="icon"
	/>
	<p>Login</p>
</button>

<script>
	import { EMITTER_NAMES, EmittActions, emitter } from '../../../utils/emitter';

	const $loginForm = document.getElementById('login-form') as HTMLFormElement | null;
	const $loginIcon = document.getElementById('login-icon');
	const $loginButton = document.getElementById('login-btn');

	$loginForm?.addEventListener('submit', async e => {
		e.preventDefault();

		if ($loginForm) {
			const formData = new FormData($loginForm);

			const email = formData.get('email')?.toString();
			const password = formData.get('password')?.toString();

			$loginIcon?.classList.toggle('spinner');
			$loginButton?.classList.toggle('loadingbtn');

			const response = await fetch('/api/login', {
				method: 'POST',
				body: JSON.stringify({ email, password }),
			});

			$loginIcon?.classList.toggle('spinner');
			$loginButton?.classList.toggle('loadingbtn');

			if (response.status === 201) {
				window.location.replace('/auth/dashboard');
			}

			const jsonResponse = await response.json();

			/**
			 * Event to open error toast
			 */
			emitter.emit(EMITTER_NAMES.error, {
				action: EmittActions.ERROR,
				message: jsonResponse.message,
			});
		}
	});
</script>

<style>
	button {
		width: 100%;
		padding: 1rem;
		border: 1px solid var(--color);
		border-radius: 0.3rem;
		font-size: 1rem;
		background-color: rgb(42, 42, 42);
		cursor: pointer;
		color: azure;
		transition: all 0.2s ease;
	}

	button p {
		padding: 0;
		margin: 0;
	}

	button:hover {
		background-color: rgb(14, 14, 14);
	}

	.icon {
		display: none;
	}

	.loadingbtn p {
		display: none;
	}
</style>
